@model List<TestEntityFramework.Models.Locker>
@{
    ViewBag.Title = "Index";
}

@foreach (var locker in Model)
{
    <div>
        <span>@locker.Number - @(locker.IsForMale ? "Male" : "Female" ) -> @locker.Visits.Count</span>
    </div>
}
