        footer{
            bottom: 0px;
            background: #bd9258;
            border-top-style: solid;
            border-top-color: grey;
            text-align: center;
        }
        footer ul{
            list-style-type: none;
            display: inline;
        }
        footer ul li{
            margin: 8px;
            color:white;
        }
        footer ul .listName{
            text-decoration: underline;
            text-decoration-color: white;
        }
        footer .footeritem{
            padding-top: 20px;
            padding-bottom: 20px;
            width: 130px;
            display: inline-block;
        }