<div class="trm-contacts-editor">
	<mat-card>
		<mat-card-title-group class="fullBleed editing">
			<img mat-card-md-image [src]="contact?.image || ''">
			<mat-card-title>{{contact?.name}}</mat-card-title>
			<mat-card-subtitle>{{contact?.email || 'No email address'}}</mat-card-subtitle>
		</mat-card-title-group>
		<mat-card-content>
			<form fxLayout="column" [formGroup]="form" (ngSubmit)="save(contact)">
				<mat-input-container fxFlex>
					<input matInput placeholder="Name"  formControlName="name">
				</mat-input-container>
				<mat-input-container fxFlex>
					<input matInput placeholder="Email"  formControlName="email">
				</mat-input-container>
				<mat-input-container fxFlex>
					<input matInput  placeholder="Phone" formControlName="phone">
				</mat-input-container>
				<mat-input-container fxFlex>
					<input matInput placeholder="Website"  formControlName="website">
				</mat-input-container>
				<mat-input-container fxFlex>
					<input matInput placeholder="Birthday"  formControlName="birthday" type="date">
				</mat-input-container>
				<fieldset fxLayout="column">
					<legend>Address</legend>
					<mat-input-container fxFlex>
						<input matInput  placeholder="Street"  formControlName="street">
					</mat-input-container>
					<mat-input-container fxFlex>
						<input matInput placeholder="Zip" formControlName="zip">
					</mat-input-container>
					<mat-input-container fxFlex>
						<input matInput placeholder="City" formControlName="city">
					</mat-input-container>
				</fieldset>
			</form>
		</mat-card-content>
		<mat-card-actions fxLayout fxLayoutAlign="center center">
			<button mat-button type="button" (click)="save()" title="Save contact">Save</button>
			<button mat-button type="button" (click)="cancel()" title="Cancel editing">Cancel</button>
		</mat-card-actions>
	</mat-card>
</div>
